/* Reset margins and padding */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font */
body {
    @apply font-sans;
}

/**
 * 1. Set the background image
 * 2. Set the background size
 * 3. Set the background position
 * 4. Set the top padding
 * 5. Set the bottom padding
 */
.topBack {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 80%, rgba(205, 174, 99, 0.0) 80%, rgba(205, 174, 99, 1.00) 100%), url('https://summitco.imgix.net/img/apply/Contact.png?fm=webp');
    @apply bg-cover bg-bottom py-20;
}

/**
  Background gradient on form
*/
.formBack {
    background: linear-gradient(0deg, #000000 0%, #300E0B 55.74%, #CDAE63 100%);
}

/**
 Container for all content
*/
.container {
    @apply flex flex-col mx-auto;
}

/**
 We divide content by rows and columns, this is the row
 */
.row {
    @apply flex flex-wrap gap-20 px-20;
}

/**
 Left column in the row and right column in the row
 */
.left-column,
.right-column {
    @apply flex-1;
}

/** 
 Quoe text 
*/
.quote {
    @apply flex-1 w-full text-center text-white px-20 py-20;
}

.quote a {
    @apply text-red-500;
}

img {
    @apply w-full h-auto;
}

/**
 Form styles
*/
form {
    @apply flex flex-col gap-1 text-white font-medium;
}

/**
 Select styles
*/
form select {
    @apply w-full;
}

/**
 Text input styles and text area styles
*/
.textInput,
form textarea,
form select {
    @apply w-full bg-gray-700 text-white outline-none border-none;
    background-color: #536980;
}
form textarea {
    @apply h-20 py-3 px-2 text-base;
}

/**
 Button styles
*/
.button {
    @apply bg-red-700 py-3 px-2 font-bold;
}

/**
 Adds more consistency to text input and select styles
*/
.textInput,
form select {
    @apply h-11 py-3 px-2 text-base;
}
.textInput::placeholder,
form input::placeholder,
form textarea::placeholder,
form textarea {
    @apply text-base text-white;
}

/**
 Message and intro texts styles
*/
h2 {
    @apply text-3xl font-bold;
}

.summit-community {
    @apply font-serif text-2xl text-white;
}

.summit-curation {
    @apply text-lg text-red-500;
}

.summit-note {
    @apply text-gray-500;
}

.bottomBack {
    @apply bg-black;
}

.error {
    @apply text-white bg-red-700;
}

/**
 Add responsive styles for mobile and small screens
*/
@media (max-width: 750px) {
    .row {
        @apply flex-col px-0;
    }

    .right-column {
        @apply order-first;
    }

    .right-column, .left-column {
        @apply px-10;
    }

}